*{
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* max-width: 1220px; */
  height: 100vh;
  background-image: url('./assets/solnce-peyzazhi-svet-luchi-utro.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
